version: '3.8'

services:
  python_vnc_dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: python_vnc_container_dev
    privileged: true
    environment:
      - DISPLAY=:1
      - XDG_RUNTIME_DIR=/run/user/$(id -u)
      - LIBGL_ALWAYS_SOFTWARE=1
      - MESA_LOADER_DRIVER_OVERRIDE=llvmpipe
      - DEBIAN_FRONTEND=noninteractive
    volumes:

      - ../:/workspace
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ~/.Xauthority:/root/.Xauthority:rw

    stdin_open: true
    tty: true
    network_mode: host